<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

<!-- título -->
<title> <%= title %> </title>
<!-- Archivos css -->
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="/css/all.min.css">
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<!-- owl carousel -->
<link rel="stylesheet" href="/css/owl.carousel.css">
<!-- magnific popup -->
<link rel="stylesheet" href="/css/magnific-popup.css">
<!-- animate css -->
<link rel="stylesheet" href="/css/animate.css">
<!-- mean menu css -->
<link rel="stylesheet" href="/css/meanmenu.min.css">
<!-- main style -->
<link rel="stylesheet" href="/css/main.css">
<!-- responsive -->
<link rel="stylesheet" href="/css/responsive.css">

<link rel="stylesheet" href="/css/login.css">
<!-- <link rel="stylesheet" href="/css/loginresponsive.css">	 -->
</head>

<body>
    
  
	<!-- Navegación fin -->
    <span> <%mensajes.forEach(mensaje=> { %>
           <div class="alert alert-dark">  <%= mensaje.msg %> </div>   

            <%}) %>
         </span>


    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/login/register" method="POST">
            
                <h3 class="alt2">Crea una cuenta</h1>
                <input type="text" placeholder="Nombre de usuario" name="nameREG" id="nameREG" required/>
                <input type="email" placeholder="Email" name="emailREG" id="emailREG" required/>
                <input type="password" placeholder="Contraseña" name="passREG" id="passREG" required/>
                <input type="password" placeholder="Repite la contraseña" name="pass2REG" id="pass2REG" required/>
                <input type="submit" value="Registrarse"> 
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login/auth" method="post">
                
                <h1>Inicia Sesión</h1>
                <input type="email" placeholder="Email" name="emailLOG" id="emailLOG" required />
                <input type="password" placeholder="Contraseña" name="passLOG" id="passLOG" required/>
                <!-- <a href="#">Olvidaste la contraseña?</a> -->
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido de vuelta</h1>
                    <p>Para seguir conectado, ingresa con tus datos personales</p>
                    <button class="ghost" id="signIn">Iniciar Sesión</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenido!</h1>
                    <p>Ingresa tus detalles personales y empieza tu viaje con nosotros.</p>
                    <button class="ghost" id="signUp">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="js/login.js"></script>
</html>