#Pintar {
    background-color: #364B55;

}

#prueba {
    word-wrap: break-word;
}
#pedidos{
    display:none;
}
.consultaBase {
    display: flex;
}

.Consultas {
    margin: 50px;
}

.Admin {
    margin: 50px;
    font-size: 14px;
}
.AddProducts {
    margin: 100px;
}
#tablaAdmin{
    width: 100%;
    align-items: center;
    align-self: center;
}
.consultaBase,
.correosDisplay,
.productos {
    display: none;
}

.botones {
    width: 200px;
    margin: 50px;
    text-align: center;
    position: absolute;
}

.corr,
.Cuadro,
.reducir {
    margin: 50px;
}

.edit {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #f5f118;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: transparent;
}

.save {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #0dad22;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: transparent;
    display: none;
}

.delete {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #d31535;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: transparent;
    display: none;
}

.edit:hover {
    background-color: #051922;
    color: #f5f118;
}

.save:hover {
    background-color: #051922;
    color: #0dad22;
}

.delete:hover {
    background-color: #051922;
    color: #e95858;
}


.delete2 {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #d31535;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: transparent;
}
.delete2:hover {
    background-color: #051922;
    color: #e95858;
}
.textoProductos form p input[type=text],
.textoProductos form p input[type=tel],
.textoProductos form p input[type=email],
.textoProductos form p input[type=number] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.textoProductos form p textarea {
    border: 1px solid #ddd;
    padding: 15px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    resize: none;
}

.textoProductos-wrap {
    background-color: #FBFBFB;
    padding: 45px 30px;
    border-radius: 5px;
}

.textoProductos-box {
    padding-left: 40px;
    margin-bottom: 30px;
}

.textoProductos-box h4 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
}

.textoProductos-box h4 i {
    position: absolute;
    left: -13%;
    color: #23ebf2;
    top: 2px;
}

.textoProductos-box p {
    line-height: 1.8;
    opacity: 0.8;
}

.textoProductos-wrap .textoProductos-box:last-child {
    margin: 0;
}

#admin{
    display: none;
}

.edicion {
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    height: 100%;
    resize: none;
    text-align: center;
}



input[type="number"].edicionNum{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: center;
}