<div class="footer-area">

    <div class="container">
        <div class="section-title">
            <div class="col-lg-8 offset-lg-2 text-center">


                <h1 class="blanco">

                    Sin fin comercial, exclusivo uso pedagógico

                </h1>

            </div>
        </div>
        <div class="row">


            
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">

                    <h2 class="widget-title">Nuestra propuesta</h2>
                    <p>Proponemos dejar atrás el uso del plástico adquiriendo bolsas ecológicas que no se rompan con
                        facilidad. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Contacto</h2>
                    <ul>
                        <li>E.E.T 24 "Simon de Iriondo", Resistencia, Chaco, Argentina.</li>
                        <li>sos-empresasimulada@hotmail.com.ar</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Páginas</h2>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/tienda">Tienda</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                        <li><a href="/noticias">Noticias</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribirse</h2>
                    <p>¡Subscribete para recibir novedades!</p>
                    <form method="post" action="/">
                        <input type="email" name="correo" placeholder="Email" required>
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2022 - GGP Web Design</a>, Todos los derechos reservados</p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100080666065255" target="_blank"><i class="fab fa-facebook-f"></i></a></li>

                        <li><a href="https://www.instagram.com/soss.srl/" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>