<nav class="main-menu">
    <ul>
        <li><a href="/">Inicio</a>
        </li>
        <li><a href="/Acercade">Acerca de</a></li>
        <!-- <li><a href="#">Páginas</a>
            <ul class="sub-menu">
                <li><a href="/404">404 page</a></li>
                <li><a href="/Acercade">About</a></li>
                <li><a href="/carro">Cart</a></li>
                <li><a href="/pago">Check Out</a></li>
                <li><a href="/contacto">Contact</a></li>
                 <li><a href="/Noticias">News</a></li> 
                <li><a href="/Tienda">Shop</a></li>
            </ul>
        </li> -->
        <!-- <li><a href="/Noticias">Noticias</a>
            <ul class="sub-menu">
                <li><a href="/Noticias">News</a></li>
                <li><a href="/Noticias-2">Single News</a></li>
            </ul>
        </li> -->
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/noticias">Noticias</a></li>
        <li><a href="/Tienda">Tienda</a>
    
        </li>
        <li>
            <div class="header-icons">
                <a class="shopping-cart" href="/carro"><i class="fas fa-shopping-cart"></i></a>
              
            </div>
        </li>
    </ul>
</nav>
<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
<div class="mobile-menu"></div>
<!-- menu end -->
</div>
</div>
</div>
</div>
</div>